.page-header {
  display: flex;
  width: 100%;
  padding-top: 70px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #c0dce9;
  background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
  margin-bottom: 5vh;
}

.page-header img {
  width: 150px;
  height: 150px;
}


/*for smallest window size */
@media only screen and (max-width: 335px) {
  .page-header img {
    width: 100px;
    height: 100px;
  }
}

/*for larger window size */
@media only screen and (min-width: 768px)  {
  .page-header {
    margin-top: 180px;
    margin-left: 4vw;
    margin-right: 2vw;
    padding: 0;
    height: 350px;
    max-width: 350px;
    width: 50%;
  }

  #fullName {
    font-size: 1.5rem;
  }
}
