nav {
  background-color: none;
  color: #FFFFFF;
  display: flex;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  align-items: flex-end;
  justify-content: space-between;
  position: fixed;
  width: 100%
}

.title {
  font-family: 'Bungee', sans-serif;
  font-size: 36px;
 }

.writeAction {
  font-weight: 600;
 }

#newTweet {
  background-color: transparent;
  border: none;
  color: #FFFFFF;
}

.fa-angles-down {
  color: #db2424;
}

 /*for larger window size */
 @media only screen and (min-width: 768px)  {
  nav {
    background-color: #4056A1;
    height: 120px;
  }
}